.Nav{
  display: flex;
  justify-content: space-between;
  margin: 10px 100px;
  border: 1px solid blue;
}

.Body{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto auto;
  margin: 20px 100px;
  padding: 10px;
  border: 1px solid blue;
}

.body-item{
  background-color: blue;
  height: 80vh
}

.round{
  border: 10px solid blue;
  background-color: blue;
  border-radius: 100px;
  width: 5px;
  margin: 10px 10px;
}

.menu{
  display: flex;
  margin: 10px 10px;
  justify-content: space-around;
}

.menu-item{
  margin: 0 10px;
  border: 10px solid blue;
  background-color: blue;
}

@media screen and (max-width: 1200px) {
  .Body{
    grid-template-columns: auto auto;
  }
  .body-item{
    background-color: blue;
    height: 40vh
  }
}


@media screen and (max-width: 800px) {
  .Body{
    grid-template-columns: auto;
  }
  .body-item{
    background-color: blue;
    height: 20vh
  }

  .menu{
    display: none;
  }
}